venv/
.venv/
.venv/
venv/
.venv-1/


# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyd

# =========================
# DUCKDB GERADO
# =========================
*.duckdb
*.duckdb.wal

# =========================
# DBT ARTEFATOS GERADOS
# =========================
dbt/target/
dbt/logs/
dbt/dbt_packages/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log